/* :root{
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    -- ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --contener-color: #eeeeee;
    --logo-color-text: #000000;
    --buttons-port-color: #f5f4fa;
    --footer-text-color: #rgba(255, 255, 255, 0.6);
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --line-color: #ececec
    --background-color: #FFFFFF;
    --icon-color: #afb1b8;
    --main-color: roboto, sans-serif;
} */

.body{
    font-family: 'Roboto', sans-serif;

}
.header-logo{
    font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1,19;
   letter-spacing: 0.03em;
   color: #2196F3;
   }
   .header-logo-color{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
l   etter-spacing: 0.03em;
    color: #000000;

   }

.header-list :hover,
.header-list :focus{
     color:  #2196f3;
     cursor: pointer;
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: #212121;

}
.header-mail{
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: #757575;
}
.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: #757575;
}

.list{
    list-style: none;
   
}
.link{
    text-decoration: none
}

.subject{
    background: #2F303A;
}
.subject-text{
font-weight: 900;
font-size: 44px;
line-height: 1,36;
color: #FFFFFF;

}
.subject-btn{
font-weight: 700;
font-size: 16px;
line-height: 1,88;
color: #FFFFFF;
background-color:#2196F3; 

}
.hero-top{
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.hero-text{
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
color: #757575;
}

.hero-desk{
font-weight: 700;
font-size: 36px;
line-height: 1,16;
letter-spacing: 0.03em;
color: #212121;
}
.hero-subtitle{
font-weight: 500;
font-size: 16px;
line-height: 1,19;
letter-spacing: 0.03em;
color: #212121;
}
.hero-subtitle-text{
font-weight: 400;
font-size: 16px;
line-height: 1,19px;
letter-spacing: 0.03em;
color: #757575;
}
.footer{
    background-color:  #2F303A;;
}
.footer-link-tel,
.footer-link-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-list :focus,
.footer-list :hover{
    color:  #2196f3;
    cursor: pointer;
    
}
.footer-link-addres{
 font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-link-addres{
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
/* portfolio */
.content :hover,
.content :focus{
    color:  #2196f3;
    cursor: pointer;
}

.content-btn{
font-weight: 500;
font-size: 16px;
line-height: 1,62;
letter-spacing: 0.03em;
color: #1c8135;
}
.icon-text{
 font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}