:root{
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    -- ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --contener-color: #eeeeee;
    --logo-color-text: #000000;
    --buttons-port-color: #f5f4fa;
    --footer-text-color: #rgba(255, 255, 255, 0.6);
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --line-color: #ececec
    --background-color: #FFFFFF;
    --icon-color: #afb1b8;
    --main-color: roboto, sans-serif;
}
.body{

}
.list :hover,
.list :focus{
     color:  #2196f3;
}
.logo{
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.logo-color{
    color: #000000;
}
.title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

}
.subject{
    background: #2F303A;
}
.subject-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
color: #FFFFFF;

}